.selected {
    stroke: black;
    stroke-width: 2;
}

.connected {
    stroke: $fourth-color-strong; /* Cor da borda */
    stroke-width: 2; /* Largura da borda */
}

.container-fluid .CM .info-nodo{
    position: absolute;
    padding: 15px;
    border: 1px solid #ccc;
    max-width: 225px;
    box-shadow: 5px 5px 8px -5px $shadow-color;
    right: 80px;
}

.nodo-pessoa-img{
    height: 125px;
    width: 110px;
    border-radius: $border_radius;
}

.row-subtitle{
    display: flex;
    align-items: center;
}

.legenda-color{
    height: 15px;
    width: 15px;
    outline: 2px solid #5d5a5a;
    border: 2px solid white;
    border-radius: 50%;
}

.container-legend-color-palette{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 15px;
    z-index: 100;
}

.legend-color-palette-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-palette{
    width: 35px;
    height: 35px;
    border: 1px solid #F7F7F7;
    border-radius: 6px;
}

.color-palette-text{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}