.logo-login-CM-lg{
    height: 300px;
}

.logo-login-CM-md{
    height: 250px
}

.title-login-CM{
    font-size: 40px;
    font-weight: 500;
    color: $gray-text-color;
}

.min-w-CM{
    min-width: 400px !important;
}