.header-rel-ocorr{
    font-size: 18px;
    font-weight: 700;
}

.title-rel-ocorr{
    font-size: 20px;
}

.title-infos{
    font-weight: 700;
}

hr.solid {
    border-top: 3px solid #bbb;
    width: 100%;
    border-color: black;
}