.content-CM{
    position: fixed;
    top: 70px;
    left: $sidebar-open-width;
    width: calc(100% - $sidebar-open-width); 
    transition: $tran-05; 
    justify-content: center;
    overflow-y: scroll;
    height: 100%;
    z-index: 70;
}

.content-CM::-webkit-scrollbar{
    display: none;
}