.container-fluid.CM{
    background: $navbar-color;
    height: fit-content;
    padding: 30px 40px 15px;
    border-radius: $border-radius;
    box-shadow: 5px 5px 8px -5px $shadow-color;
    min-width: 100px;
}

.container-fluid.CM::-webkit-scrollbar{
    display: none;
}
