.btn.CM{
    outline: none;
    color: $white-text-color;
    border: none;
    border-radius: $border-radius;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 5px 5px 8px -5px $shadow-color !important;
    transition: $tran-02;
}

.btn.CM.large{
    height: 50px;
    width: 200px;
    font-size: 18px;
}

.btn.CM.medium{
    font-size: 17px;
    height: 40px;
    width: 125px;
    transform: scale(1.03);
}

.btn.CM.small{
    font-size: 17px;
    transform: scale(1.03);
}

.btn.CM.save-CM{
    background: $primary-color;
}

.btn.CM.cancel-CM{
    background: $third-color;
}

.btn.CM:hover{
    transform: scale(1.03);
    box-shadow: 8px 8px 8px -5px $shadow-color;
    color: $white-text-color;
}

.btn.CM.save-CM:hover{
    background: $primary-color-weak;
}

.btn.CM.cancel-CM:hover{
    background: $third-color-weak;
}

.btn.CM:active{
    box-shadow: 5px 5px 8px -5px $shadow-color;
    transform: scale(0.97);
}

.btn.CM.save-CM:active{
    background: $primary-color-strong;
}

.btn.CM.cancel-CM:active{
    background: $third-color-strong;
}

.btn.CM.add-CM{
    background: $primary-color;
}

.btn.CM.add-CM:hover{
    background: $primary-color-weak;
}

.btn.CM.add-CM:active{
    background: $primary-color-strong;
}

.btn-icon-CM{
    font-size: 15px; 
    font-weight: 500;
    vertical-align: middle;
}

.btn-upl-icon-CM{
    font-size: 21px; 
    vertical-align: middle;
}

.btn-upl-CM{
    color: $gray-text-color;
    background: $gray-weak-color;
    border-radius: $border-radius!important;
    transition: $tran-05;
}

.btn-upl-CM:hover{
    background: $gray-color;
}

.btn.CM.search-CM{
    background: $third-color;
}

.btn.CM.search-CM:hover{
    background: $third-color-weak;
}

.btn.CM.search-CM:active{
    background: $third-color-strong;
}

.btn-table-icon-CM{
    font-size: 18px; 
    vertical-align: middle;
    text-align: center;
}

.btn-table-remove,
.btn-table-edit,
.btn-table-view{
    outline: none;
    color: $white-text-color !important;
    border: none;
    border-radius: $border-radius;
    font-weight: 500;
    letter-spacing: 1px;
    transition: $tran-02;
    box-shadow: none !important;
}

.btn-table-edit{
    background: $fourth-color;
}

.btn-table-edit:hover{
    color: $white-text-color;
    background: $fourth-color-weak;
}

.btn-table-edit:active{
    background: $fourth-color-strong;
    transform: scale(0.95);
}

.btn-table-remove{
    background: $second-color;
}

.btn-table-remove:hover{
    color: $white-text-color;
    background: $second-color-weak;
}

.btn-table-remove:active{
    background: $second-color-strong;
    transform: scale(0.95);
}

.btn-table-view{
    background: $third-color;
}

.btn-table-view:hover{
    color: $white-text-color;
    background: $third-color-weak;
}

.btn-table-view:active{
    background: $third-color-strong;
    transform: scale(0.95);
}

.btn-remove-img{
    position: absolute; 
    z-index: 101; 
    right: 10px; 
    top: 5px;
}

.btn-pdf{
    position: fixed;
    right: 88px;
    top: 150px;
    height: 60px;
    width: 60px;
    z-index: 100;
    background: white;
    border-radius: $border-radius;
    box-shadow: 5px 5px 8px -5px $shadow-color !important;
}

.btn-pdf .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 55px;
    transition: $tran-05;
    text-decoration: none;
    color: $second-color;
}

.btn-pdf:hover{
    cursor: pointer;
    background: rgb(214, 214, 214);
    color: $second-color-strong;
    transition: $tran-05;
}

.btn-pdf:active{
    transform: scale(0.97);
    color: $second-color-weak;
    background: white;  
    transition: $tran-05;
}