.img-preview{
    border: 2px dashed $gray-color;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}   

.input-group.CM{
    border: 1px solid #ced4da;
}

.img-list{
    height: 190px;
    width: 167px;
}

.input-foto{
    opacity: 0;
}