.title-CM{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    color: black;
}

.sub-title-CM{
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 15px;
}

.title-CM::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 40px;
    left: 0;
    bottom: 0;
    background: $primary-color;
}

.disabled{
    pointer-events: none;
}

.node-tooltip{
    padding: 10px;
}