*{
    font-family: $font-family;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder{
    color: $white-text-color;
    opacity: 0.6;
}

.title-CM{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    color: $gray-text-color;
}

.title-CM::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 40px;
    left: 0;
    bottom: 0;
    background: $primary-color;
}